dist/**
!dist/no-sleep-hd.bat
!dist/cleanup.bat
!dist/cleanup.sh


# I like to compile targeting different directories:
A/**
B/**
C/**
D/**
E/**
F/**
G/**
H/**
I/**
J/**
K/**
L/**
M/**
N/**
A/**
O/**
P/**
Q/**
R/**
S/**
T/**
U/**
V/**
W/**
X/**
Y/**



# 
# The original authors had this.  I'll keep it because I don't understand it.
#

*.class
classes/

# Package Files #
*.war
*.ear

CVS
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


build/**
